<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="Assets/Styles/style.css">
</head>
<body> 
   <p>Do you want to save?</p>

   <form  method="POST" action="/save">
   
   	<div id="radio">
			<label><input value="true" type="radio" name="save" > Yes!</label>
			<label><input value="false" type="radio" name="save"> No! </label>
    </div>
   
    <input type="submit" value="Exit!">
   </form>

   <script src="Assets/Scripts/script.js"></script>
 </body>
</html>