<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="Assets/Styles/style.css">
</head>
<body> 
   <p>YOU WON!</p>

   <form method="GET" action="/">	 
	   <input type="submit" value="Play Again!">
   </form>

   <script src="Assets/Scripts/script.js"></script>
 </body>
</html>